* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}
 
 .container { 
  margin: 0 auto;
  padding: 0 auto;
  width: 60%;
} 
a {
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  color: #f3f3f3;
}
ul,
ol {
  list-style: none;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  align-items: center;
}
.video{
    /* height: 100vh; */
    /* max-height: 1080px; */
    overflow-y: hidden;
    width: 100%;
    position: absolute;
    
}
header{
  height: 100vh;
}
.header__position{
    position: relative;
}

nav {
  height: 100px;
}
.nav-left {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.link-logo > a {
  display: block;
  margin: 10px;
}
.nav-right {
  width: 50%;
}
.nav-right > a {
  display: block;
  padding: 0 15px;
  color: var(--white, #F3F3F3);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.nav-right > a:nth-child(6){ background: var(--purple, #6A369C);
    display: flex;
    width: 211px;
    height: 100px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: var(--white, #F3F3F3);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;}
.header__main {
  width: 570px;
  height: 262px;
  margin-bottom: 40px;
}
.header__main h1 {
  width: 462px;
  height: 68px;
  margin-bottom: 30px;
  /* font-family: Montserrat; */
  font-size: 56px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  color: #f3f3f3;
  margin-bottom: 40px;
}
.header__main p {
  width: 570px;
  color: var(--white, #f3f3f3);
  /* font-family: Montserrat; */
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 26px */
  margin-bottom: 40px;
}
.header__main a {
  width: 230px;
  height: 46px;
  color: #f3f3f3;
  display: inline-flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--white, #f3f3f3);
  margin-bottom: 100px;
}
.header__main a:hover{
    background: #6A369C;
}
.header-battom {
  display: block;
  width: 800px;
  height: 120px;
  color: #f3f3f3;
}
.header-battom h3 {
  width: 165px;
  height: 29px;
  margin-bottom: 30px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-battom p span {
  color: var(--logo-light-green, #04ff14);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-battom p {
  margin-bottom: 37.5px;
  color: var(--white, #f3f3f3);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.year {
  width: 456px;
}
.year img {
  padding-left: 10px;
}





footer {
  width: 100%;
  background-color: #212529;
  padding: 70px 0;
  margin-top: 110px;
}

.footer_flex {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_social_box {
  width: 300px;
}

.footer_social_title {
  color: #F3F3F3;
  font-family: Montserr, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 27px;
}

.footer_social_link {
  text-decoration: none;
  margin-right: 3px;
  display: inline;
}

.footer_adress_box {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.footer_adress_box_title {
  color: #AFAFAF;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer_adress_box_text {
  color: #F3F3F3;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.footer_email_box {
  width: 267px;
  display: flex;
  flex-direction: column;
}

.footer_email_box_title {
  color: #AFAFAF;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer_email_box_link {
  color: #F3F3F3;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.footer_phone_box {
  width: 158px;
  display: flex;
  flex-direction: column;
}

.footer_phone_box_title {
  color: #AFAFAF;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer_phone_box_text {
  color: #F3F3F3;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.footer_work_box {
  width: 91px;
  display: flex;
  flex-direction: column;
}

.footer_work_box_title {
  color: #AFAFAF;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer_work_box_text {
  color: #F3F3F3;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}


.footer_bottom {
  width: 100%;
  background-color: #272B30;
  padding: 35px 0;
}

.footer_bottom_flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first_fl {
  margin-right: 30px;
  margin-left: 40px;
}

.fb {
  color: #AFAFAF;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
